{% extends 'base.htm' %}
{% block content %}
<div class="emspace"></div>
{% block flashes %}
{{super()}}
{% endblock %}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">My Account</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-3"><span class="badge">Username</span></div>
                <div class="col-xs-9">{{session.username}}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
